  <body class="bg-white text-gray-800 flex flex-col min-h-screen">
    <!-- Main content container -->
    <main class="flex-grow bg-back max-w-7xl mx-auto h-full px-4 sm:px-6 lg:px-8 flex flex-col justify-center ">
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 items-center max-w-8xl">
        <!-- Izquierda: Imagen -->
        <div class="flex flex-col items-center gap-1">
          <img
            src="assets/logos/LogoColoresTrasnparente.png"
            alt="Eco Metrix Logo"
            class="w-[400px] h-auto object-contain rounded-lg hide-below-770"
          />
          <div class="italic text-center text-3xl font-semibold hide-below-770 text-dark-green">
            Mide hoy, mejora mañana
          </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg p-6 md:p-8 w-full max-w-lg mx-auto">
          <h2 class="text-center text-xl font-bold mb-6 text-black">
            Registro de usuario
          </h2>

          <form class="space-y-4">
            <input name="nombre_empresa" type="text" [(ngModel)]="nombre_empresa" placeholder="Nombre Empresa" class="custom-input text-sm" required />
            <input name="gmail" type="email" [(ngModel)]="gmail" placeholder="Correo electrónico" class="custom-input text-sm" required />

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <input name="contrasena" type="password" [(ngModel)]="contrasena" placeholder="Contraseña" class="custom-input text-sm" required />
                <input name="confirmar_contrasena" type="password" [(ngModel)]="confirmar_contrasena" placeholder="Confirmar contraseña" class="custom-input text-sm" required />
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <select name="estado" title="Estado" [(ngModel)]="estado" class="custom-input text-sm" required>
                <option value="" disabled selected>Estado</option>
                @for (estado of estadosMexico; track estado)
                {
                  <option value="estado">{{estado}}</option>
                }
              </select>
              <input name="num_empleados" type="number" [(ngModel)]="num_empleados" placeholder="Numero de empleados" class="custom-input text-sm" />
            </div>

            
            <select name="sector" title="sector" [(ngModel)]="sector" class="custom-input text-sm" required>
              <option value="" disabled selected>Sector</option>
              @for (sector of sectores; track sector)
              {
                <option value="sector">{{sector}}</option>
              }
            </select>
            
            <input name="actividad_principal" type="text" [(ngModel)]="actividad_principal" placeholder="Actividad principal" class="custom-input text-sm" />
            

            <div class="text-center text-sm">
              <input name="acepta_terminos" type="checkbox" [(ngModel)]="acepta_terminos" id="terminos" class="mt-1" required />
              <label for="terminos">
                He leído y acepto el
                <a href="#" class="text-green-700 underline"
                  >Aviso de privacidad, términos y condiciones</a
                >.
              </label>
            </div>

            <div class="flex justify-center gap-4 mt-4">
              <button routerLink="/" routerLinkActive="router-link-active" type="button" class="w-36 py-3 rounded-full text-sm bg-gray-600 text-white hover:bg-gray-700">
                Volver
              </button>

              <button (click)="registrarUsuario()" type="submit" class="w-36 py-3 rounded-full text-sm text-white bg-green hover:bg-h-green">
                Continuar
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>

