    <footer class="w-full border-t border-green-600 py-4 px-16">
      <div class="max-w-7xl mx-auto flex justify-between items-center px-6 text-green-700">
        <!-- Izquierda: texto con copyright -->
        <div class="flex items-center space-x-2 text-sm select-none">
          <span>©</span>
          <span>EcoMetrix 2025</span>
        </div>
        <!-- Derecha: iconos sociales en divs -->
        <div class="flex space-x-8 gap-10">
          <div class="m-0 p-0 cursor-pointer hover:opacity-80">
            <img src="assets/logos/fb.png" alt="Facebook" class="w-10 h-10" />
          </div>
          <div class="m-0 p-0 cursor-pointer hover:opacity-80">
            <img src="assets/logos/ig.png" alt="Instagram" class="w-10 h-10" />
          </div>
          <div class="m-0 p-0 cursor-pointer hover:opacity-80">
            <img src="assets/logos/mail.png" alt="Email" class="w-10 h-10" />
          </div>
        </div>
      </div>
    </footer>