    <nav class="bg-white border-b border-green-600">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <a href="#" class="flex items-center space-x-2">
              <img
                src="assets/logos/LogoEcometrixHorizontal_Color.png"
                alt="Eco Metrix Logo"
                class="w-32 h-auto object-contain"
              />
            </a>
          </div>
          <div class="hidden sm:flex sm:space-x-6 sm:items-center">
            <a
              href="#"
              class="text-gray-700 hover:text-green-700 hover:underline transition duration-300 px-3 py-2 text-sm font-medium"
              >Sobre nosotros</a
            >
            <a
              href="#"
              class="text-gray-700 hover:text-green-700 hover:underline transition duration-300 px-3 py-2 text-sm font-medium"
              >Planes</a
            >
            <a
              href="#"
              class="text-gray-700 hover:text-green-700 hover:underline transition duration-300 px-3 py-2 text-sm font-medium"
              >Contáctanos</a
            >
          </div>
          <div class="sm:hidden flex items-center">
            <button
              data-collapse-toggle="mobile-menu"
              type="button"
              class="inline-flex items-center justify-center p-2 rounded-md text-green-700 hover:bg-green-100 focus:outline-none"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hidden sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-2">
          <a
            href="#"
            class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:bg-green-100"
            >Sobre nosotros</a
          >
          <a
            href="#"
            class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:bg-green-100"
            >Planes</a
          >
          <a
            href="#"
            class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:bg-green-100"
            >Contáctanos</a
          >
        </div>
      </div>
    </nav>